<div class="table-container">
    <h3>Danh Sách Sản Phẩm</h3>
    <mat-form-field>
        <mat-label>Tìm kiếm sản phẩm</mat-label>
        <input matInput type="text" (keyup)="doFilter($event)">
    </mat-form-field>
    <table mat-table matSort
        [dataSource]="dataSource" 
        class="table-container-content"
    >
        <ng-container matColumnDef="name">
            <th 
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by name" 
                *matHeaderCellDef
            > Tên sản phẩm </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th 
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by category" 
                *matHeaderCellDef
            > Danh mục </th>
            <td mat-cell *matCellDef="let product"> {{product.category}} </td>
        </ng-container>
        <ng-container matColumnDef="unit">
            <th 
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by unit" 
                *matHeaderCellDef
            > Đơn vị </th>
            <td mat-cell *matCellDef="let product"> {{product.unit}} </td>
        </ng-container>
        <ng-container matColumnDef="number">
            <th 
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by number" 
                *matHeaderCellDef
            > Số lượng </th>
            <td mat-cell *matCellDef="let product"> {{product.number}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th 
                mat-header-cell
                mat-sort-header
                sortActionDescription="Sort by price" 
                *matHeaderCellDef
            > Giá </th>
            <td mat-cell *matCellDef="let product"> {{product.price | currency:'VND':''}} đ</td>
        </ng-container>
        <ng-container matColumnDef="action">
                <th 
                    mat-header-cell
                    *matHeaderCellDef
                > Hành Động </th>
                <td mat-cell *matCellDef="let product" class="table-container-content-action">
                    <button mat-icon-button aria-label="Button remove" color="primary"
                        (click)="onEditProduct(product.id)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Button fix" color="warn"
                        (click)="onDeleteProduct(product.id)"
                    >  
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons
                 aria-label="Select page of periodic products">
    </mat-paginator>
    <button 
        *ngIf="isAuth" class="table-container-button" 
        mat-raised-button aria-label="Button add" color="primary" (click)="onAddProduct()">
        Thêm sản phẩm
    </button>
</div>


