@import '../../../assets/scss/mixin';

.confirm {
    @include flex(center, center);
    flex-direction: column;

    &-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &-content {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &-button {
        button {
            margin: 0 10px;
        }
    }
}