<section>
        <h3 class="product-title">Sửa Sản Phẩm</h3>
        <form class="add-product" [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="add-product-item">
                <input 
                    type="text" 
                    matInput 
                    placeholder="Tên sản phẩm"
                    formControlName="name"
                    required
                >
                <mat-error 
                    *ngIf="productForm.get('name')?.errors && productForm.get('name')?.hasError('required')"
                >Tên sản phẩm không được bỏ trống</mat-error>
            </mat-form-field>
            <mat-form-field class="add-product-item">
                <!-- <input type="text" matInput 
                    placeholder="Danh mục"
                    formControlName="category"
                    [matAutocomplete]="categoryAuto"
                    (onChangeModel)="categoryChange($event)"
                    required
                > -->
                <mat-label>Danh mục</mat-label>
                <mat-select formControlName="category" required>
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.label}}
                    </mat-option>
                </mat-select>
                <mat-error 
                    *ngIf="productForm.get('category')?.errors && productForm.get('category')?.hasError('required')"
                >Danh mục không được bỏ trống</mat-error>
                <!-- <mat-autocomplete #categoryAuto="matAutocomplete">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.label}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
            <mat-form-field class="add-product-item">
                <!-- <input type="text" matInput 
                    placeholder="Đơn vị"
                    formControlName="unit"
                    [matAutocomplete]="unitAuto"
                    required
                > -->
                <mat-label>Đơn vị</mat-label>
                <mat-select formControlName="unit" required>
                    <mat-option *ngFor="let unit of units" [value]="unit.value">
                        {{unit.label}}
                    </mat-option>
                </mat-select>
                <mat-error 
                    *ngIf="productForm.get('unit')?.errors && productForm.get('unit')?.hasError('required')"
                >Đơn vị không được bỏ trống</mat-error>
                <!-- <mat-autocomplete #unitAuto="matAutocomplete">
                    <mat-option *ngFor="let unit of units" [value]="unit.value">
                        {{unit.label}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
            <mat-form-field class="add-product-item">
                <input 
                    type="number" 
                    matInput 
                    placeholder="Số lượng"
                    formControlName="number"
                    required
                >
                <mat-error 
                    *ngIf="productForm.get('number')?.errors && productForm.get('number')?.hasError('required')"
                >Mật khẩu không được bỏ trống</mat-error>
                <mat-error *ngIf="productForm.get('number')?.errors && productForm.get('number')?.hasError('min')">Số lượng phải lớn hơn 1</mat-error>
            </mat-form-field>
            <mat-form-field class="add-product-item">
                <input type="number" matInput placeholder="Giá" formControlName="price" required>
                <mat-error *ngIf="productForm.get('price')?.errors && productForm.get('price')?.hasError('required')">Mật khẩu
                    không được bỏ trống
                </mat-error>
                <mat-error *ngIf="productForm.get('price')?.errors && productForm.get('price')?.hasError('min')"
                >
                    Giá phải lớn hơn 500
                </mat-error>
            </mat-form-field>
            <div class="add-product-button">
                <button type="submit" mat-raised-button color="primary" [disabled]="!productForm.valid">Sửa sản phẩm</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Hủy</button>
            </div>
        </form>
    </section>
