<mat-nav-list class="sidebar">
    <!-- <a 
        mat-list-item 
        routerLink="/" 
        class="sidebar-item"
        (click)="closeSidebar()"
    >
        <mat-icon>home</mat-icon>
        <span class="sidebar-item-title">Trang chủ</span>
    </a> -->
    <a 
        mat-list-item 
        routerLink="/product" 
        class="sidebar-item"
        (click)="closeSidebar()"
    >
        <mat-icon>category</mat-icon>
        <span class="sidebar-item-title">Sản phẩm</span>
    </a>
    <a 
        *ngIf="!isAuth"
        mat-list-item 
        routerLink="/auth" 
        class="sidebar-item"
        (click)="closeSidebar()"
    >
        <mat-icon>login</mat-icon>
        <span class="sidebar-item-title">Đăng nhập</span>
    </a>
    <a 
        *ngIf="isAuth"
        mat-list-item 
        class="sidebar-item"
        (click)="onLogout()"
    >
        <mat-icon>logout</mat-icon>
        <span class="sidebar-item-title">Đăng xuất</span>
    </a>
</mat-nav-list>

