@import '../../../../assets/scss/mixin';

.login {
    @include flex(center, center);
    flex-direction: column;

    &-item {
        width: 300px;
    }

    &-button {
        padding-top: 30px;
    }
}