<section>
    <form class="login" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field class="login-item">
            <input 
                type="text" 
                matInput 
                placeholder="Tên đăng nhập"
                ngModel
                name="username"
                required
                #unInput="ngModel"
            >
            <mat-error *ngIf="unInput.hasError('required')">Tên đăng nhập không được bỏ trống</mat-error>
        </mat-form-field>
        <mat-form-field class="login-item" hintLabel="Mật khẩu phải có ít nhất 6 kí tự">
            <input 
                type="password" 
                matInput 
                placeholder="Mật khẩu"
                ngModel
                name="password"
                required
                minlength="6"
                #pwInput="ngModel"
            >
            <mat-hint align="end">{{pwInput.value?.length}}/6</mat-hint>
            <mat-error *ngIf="pwInput.hasError('required')">Mật khẩu không được bỏ trống</mat-error>
            <mat-error *ngIf="!pwInput.hasError('required')">Mật khẩu phải có ít nhất 6 kí tự</mat-error>
        </mat-form-field>
        <div class="login-button">
            <button type="submit" mat-raised-button color="primary">Đăng nhập</button>
        </div>
    </form>
</section>
